body {
    margin: 0;
    background-color: rgb(202, 203, 204);
}
.mainContainer {
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 50%;
    transform: translate(-50%);   
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: rgb(199, 243, 174);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 30px;
}
h1 {
    margin: 0;
    padding: 5px;
    font: bold 36px Arial, sans-serif;
}
.containerSecondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
input {
    width: 80%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
}
button {
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(100, 200, 150);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: rgb(80, 180, 130);
}
.message-box {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 18px;
    border: 2px solid rgb(80, 180, 130);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px black;
    z-index: 1000;
}
.hidden {
    display: none;
}
.wordListContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    gap: 10px;
}
h2 {
    margin: 0;
    padding: 5px;
    font: bold 24px Arial, sans-serif;
    text-align: center;
}
.ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#wordList li{
    padding: 5px 0;
    font-size: 20px;
}